* {
    /* font-family: 'Ruslan Display'; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-weight: bold; */
}

header {
    height: 40px;
    background-color: rgba(71, 71, 71, 0.95);
    color: rgb(255, 255, 255);
    /* position: absolute; */
    top: 0; 
    width: 100%;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    box-sizing: border-box;
    align-items: center;
    padding: 0 30px;
    font-family: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

.logo0 {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.logo {
    background-image: url(../assets/IMG_0088-PhotoRoom.png-PhotoRoom.png);
    /* background-image: url(./MicrosoftTeams-image2.png); */
    /* background-color: tomato; */
    background-size: cover;
    background-repeat: no-repeat;
    width: 80px;
    height: 30px;
} 
nav {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    padding: 0 30px;
    font-family: inherit;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
ul {
    margin: 0;
} 
ul li {
    min-width: 24px;
}
a {
    color: inherit;
    text-decoration: none;
}

header a:active {
    color: red;
}

.menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* font-family: Andale Mono, monospace; */
    font-weight: lighter;
    font-size: 15px;
}

/* // */


.menu2 {
    background-image: url(../assets/menu-svgrepo-com.svg);
    width: 35px;
    height: 25px;
    background-color: white;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    box-sizing: border-box;
    border-radius: 7px;
    display: none;
}
.menuOptions {
    width: 150px;
    height: 200px;
    background-color: rgba(46, 46, 46,0.9);
    position: absolute;
    right: 18px;
    top: 55px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter; */
    display: grid;
    grid-template-rows: repeat(5, auto);
    align-content: center;
    justify-content: stretch;
    display: none;
    /* border: 3px solid rgb(177, 35, 0); */
    box-shadow: -1.5px -0.1px 3px rgba(46, 46, 46,0.9),
            1.5px 1.5px 3px rgba(70,70,70,0.12);
}

.menuOptions div {
    height: calc(100%*0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}
.menuOptions div::after {
    content: "";
    display: block;
    position: relative;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: white solid 1px;
}
.triangle {
    position: absolute;
    top: 25px;
    right: 18px;
    border: 10px solid transparent; 
    border-bottom: 20px solid rgba(46, 46, 46,0.9);
    display: none;
}



@media screen and (max-width: 800px) {
    .menu {
        display: none;
    }
    .menu2 {
        display: inline;
    }
    .menuOptions {
        display: inline;
    }
    .triangle {
        display: inline;
    }
}

/* ///// */

footer {
    width: 100%;
    display: flex;
    height: 50px;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: rgb(71,71,71);
    color: rgb(255, 255, 255);
    font-family: Andale Mono, monospace;
    font-weight: bold;
    gap: 50px;
    padding: 20px 0;
}

footer>div {
    display: flex; 
    flex-direction: column;
}

#copi {
    font-family: 'Kelly Slab';
    font-size: x-large;
}

@media screen and (min-width: 540px) and (max-width: 992px) {
    header a div {
        font-size: large;
    }
}

@media screen and (max-width: 539px) {
    header a div {
        font-size: x-small;
    }
    header a {
        font-size: x-small;
    }
    nav {
        padding: 0 10px;
    }
    footer {
        height: 50px;
        gap: 20px;
    }
    #copi {
        font-size: large;
    }
    header {
        padding: 0 10px;
    }
    .logo {
        width: 44px;
        height: 18px;
    }
}